<div class="container">
  <div class="columns is-multiline">
    <div class="column is-4 is-offset-3">
      <div class="content is-size-3">
        <h3>Inbox</h3>
      </div>
    </div>
      <%= render @conversations %>
  </div>
</div>
