<div class="container">
  <div class="columns is-multiline">
    <div class="column is-5 is-offset-3">
      <div class="content is-size-6">
        <h1>Users</h1>

        <ul><%= render @users %></ul>
      </div>
    </div>
  </div>
</div>
