// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.field_with_errors input {
  border-color: #f14668;
}

html {
  background-color: chocolate;
}

.body {
  background-color: chocolate;
}

.navbar {
  background-color: chocolate;
  width: 100%;
  padding: 15px;
  margin: 10px;
}

.navbar-item .buttons .button {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-menu {
  background-color: chocolate;
}

.navbar-item img {
  max-height: 5rem;
  border-radius: 20px;
  margin-right: 2px;
  padding-right: 5px;
  margin-left: 2px;
  padding-left: 5px;
  border-color: grey;
  border-width: 0.5rem;
}

.content figure img {
  border-radius: 20px;
}

#time-posted {
  padding-left: 58%;
  padding-right: 3%;
  padding-top: 50px;
  padding-bottom: 5px;
}

.content .title {
  width: 50%;
}

.card {
  margin: 4px;
  padding: 4px;
  background-color: antiquewhite;
  border-radius: 15px;
  border: 2px solid black;
}

.section {
  background-color: chocolate;
}

.input {
  background-color: antiquewhite;
}

.textarea {
  background-color: antiquewhite;
}

.box {
  background-color: rgba(210, 105, 30, 0);
}


.footer {
  background-color: black;
}

.fas {
  color: black;
}

.button {
  color: rgba(255, 255, 255, 0.801);
  background-color: grey;
  border-color: grey;
}

#conversation-body {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 2em;
}
